/* div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
} */

*{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    height: 60px;
    background-color:black;
}

button{
    color:orange ;
}

#logo{
    color: orange;
    font-size: 25px;
}
a{
    margin-right: 100px;
}